.Menu1 {
    margin: 31px 50px 67px 5px;
    font-family: BPGWEB001Caps;
    font-size: 22px;
    text-align: left;
    color: #2c2c2c;
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
}

.Menu2 {
    margin: 31px 50px 67px 30px;
    font-family: BPGWEB001Caps;
    font-size: 22px;
    text-align: left;
    color: #2c2c2c;
    display: inline;
    float: left;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
}

.file {
    width: 200px;
    height: 70px;
    margin: 10px 90px 48px 50px;
    object-fit: contain;
    display: inline;
    float: left;
    position: relative;
}

.Menu {
    list-style-type: none;
}

.Rectangle-71 {
    margin: 10px 34px 50px 20px;
    border-radius: 5px;
    background-color: #971d62;
    width: 180px;
    height: 65px;
    font-family: BPGMrgvlovani;
    font-size: 24px;
    text-align: center;
    color: white;
    float: left;
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-70 {
    margin: 10px 36px 50px 4px;
    border-radius: 5px;
    background-color: #971d62;
    width: 230px;
    height: 65px;
    font-family: BPGMrgvlovani;
    font-size: 24px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    position: relative;
    text-decoration: none;
}

.search {
    width: 40px;
    height: 40px;
    margin: 20px 20px 60px 0px;
    display: inline;
    float: left;
    position: relative;
}

.swiper-container {
    width: 1900px;
    height: 661px;
    margin: 44px 0 43px;
    object-fit: contain
  }

.title {
    margin: 51px 74px 29px 120px;
    font-family: BPGWEB001Caps;
    font-size: 40px;
    text-align: left;
    color: #2c2c2c;
    text-decoration: none;
}

.title2 {
    margin: 51px 74px 29px 140px;
    font-family: BPGMrgvlovani;
    font-size: 27px;
    color: #77be39;
}

.title3 {
    font-family: BPGWEB001Caps;
    font-size: 25px;  
    position: absolute;
    bottom: 8px;
    margin: 80px 80px 130px 160px;
    width: 350px;
    text-align: left;
}

.title4 {
    font-family: BPGWEB001Caps;
    font-size: 25px;
    position: absolute;
    bottom: 8px;
    margin: 80px 80px 130px 80px;
    width: 400px;
    text-align: left;
}

.title5 {
    font-family: BPGWEB001Caps;
    font-size: 25px;  
    position: absolute;
    bottom: 8px;
    margin: 80px 80px 80px 160px;
    width: 500px;
    text-align: left;
}

.title6 {
    font-family: BPGWEB001Caps;
    font-size: 25px;  
    position: absolute;
    bottom: 8px;
    margin: 80px 80px 80px 50px;
    width: 400px;
    text-align: left;
}

.sesxi{
   position: relative;
   text-align: center;
   color: white;
   display: inline-block;
   width: 50%;
}

.sesxi1 {
    width: 80%;
    height: 430px;
    margin: 28px 16px 60px 110px;
    border-radius: 20px;
    flex-basis: 50%;
    display: flex;
}

.sesxi2 {
    width: 80%;
    height: 430px;
    margin: 28px 110px 60px 16px;
    border-radius: 20px;
    flex-basis: 50%;
    float: left;
    position: relative;
    display: flex;
}

.div{
    display: inline-block;
    width: 50%;
    text-decoration: none;
    height: 80px;
    margin-top: 80px;
}

.div2{
    display: inline-block;
    width: 50%;
    text-align: right;  
}

