.news {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 23%;
    height: 500px;
    float: left;
    }

.new{
    width: 80%;
    height: 280px;
    padding: 38px 0 0;
    border-radius: 20px;
    float: left;
    position: relative;
    display: flex;
    display: inline-block;
    margin: 0px;
}

.news1 {
    margin-right: 110px;
    margin-left: 110px; 
    display: inline-block;
    width: 90%;
    padding: 10px;
	margin-bottom: 50px;
	transition: transform 0.5s; 
}

.news2 {
    font-family: BPGMrgvlovani;
    font-size: 18px;
    width: 90%;
    color: #2c2c2c;
    display: inline-block;
    margin: 0px;
    height: 78px;
}

.news3 {
    font-family: BPGMrgvlovani;
    width: 90%;
    margin: 38px 0px 0px 0px;
    display: inline-block;
    font-size: 23px;
    color: #77be39;
}

.kk {
    
    display: inline-block;
    width: 100%;
    float: left;
    }

.kursi11 {
    width: 35%;
    height: 350px;
    margin: 28px 16px 60px 110px;
    border-radius: 20px;
    flex-basis: 50%;
    background-color: #971d62;
    float: left;
    }

.kursi22 {
    width: 35%;
    height: 350px;
    margin: 28px 16px 60px 110px;
    border-radius: 20px;
    flex-basis: 50%;
    background-color: #971d62;
    float: left;
    }

.kursi1{
    width: 160px;
    height: 160px;
    margin: 40px 300px 20px 51px;
    padding: 0px;
    
}

.speckursi {
    width: 250px;
    height: 25px;
    margin: 15px 0 11.5px 0;
    font-family: BPGWEB001Caps;
    font-size: 19px;
    color: white;
    display: inline-block;
    flex-basis: 50%;
}

.speckursi1 {
    width: 40px;
    height: 20px;
    margin: 2px 10px 11px 13px;
    font-family: BPGMrgvlovani;
    font-size: 19px;
    color: white;
    display: inline-block;
    text-decoration: none;
}

.speckursi1:hover{
    text-decoration: underline;
}
.speckursi2 {
    width: 40px;
    height: 20px;
    margin: 0 11px 12.5px 11px;
    font-family: BPGMrgvlovani;
    font-size: 20px;
    color: white;
    display: inline-block;
    text-decoration: none;
}
.speckursi2:hover{
    text-decoration: underline;
}

.yidva {
    width: 43px;
    height: 20px;
    margin: -190px 51px 27px 250px;
    font-family: BPGMrgvlovani;
    font-size: 25px;
    color: white;
    position: absolute;
}

.yidva2 {
    width: 43px;
    height: 20px;
    margin: 41px 200px 70px 250px;
    font-family: BPGMrgvlovani;
    font-size: 25px;
    color: white;
    position: absolute;
}
.usakurs1 {
    width: 43px;
    height: 36px;
    margin: -90px 80px 27px 260px;
    font-family: BPGMrgvlovani;
    font-size: 25px;
    color: white;
    position: absolute;
}

.usakurs2 {
    width: 43px;
    height: 36px;
    margin: -90px 51px 27px 390px;
    font-family: BPGMrgvlovani;
    font-size: 25px;
    color: white;
    position: absolute;
}

.evrokurs1{
    width: 43px;
    height: 36px;
    margin: 141px 200px 70px 260px;
    font-family: BPGMrgvlovani;
    font-size: 25px;
    color: white;
    position: absolute;
}

.evrokurs2{
    width: 43px;
    height: 36px;
    margin: 141px 200px 70px 390px;
    font-family: BPGMrgvlovani;
    font-size: 25px;
    color: white;
    position: absolute;
}

.gayidva {
    width: 43px;
    height: 36px;
    margin: -190px 51px 27px 370px;
    font-family: BPGMrgvlovani;
    font-size: 25px;
    color: white;
    position: absolute;
}

.gayidva2 {
    width: 43px;
    height: 36px;
    margin: 41px 200px 70px 390px;
    font-family: BPGMrgvlovani;
    font-size: 25px;
    color: white;
    position: absolute;
}

.samomsxmareblosesxi { 
    width: 80%;
    height: 600px;
    margin: 29px 110px 137px;
    border-radius: 20px;
    background-color: #d5d5d5;
    position: relative;
}

.samomxmareblo {
    font-family: BPGWEB001Caps;
    font-size: 21px;  
    bottom: 8px;
    margin: 80px 150px 225px 140px;
    width: 450px;
    text-align: left;
    color: white;
    position:absolute;
}

.samsesxi{
    position: relative;
}

.mobiluri{
    margin: 0px 54px 26px 300px;
    font-family: BPGWEB001Caps;
    font-size: 45px;
    text-align: left;
    color: #77be39;
}

.mobilurii{
    position: relative;
}

.mobiluri2{
  width: 100%;
  height: 471px;
  opacity: 0.11;
  background-color: #77be39;
  position: relative;
}

.mobiluri3{
    width: 700px;
    height: 162px;
    margin: -430px 54px 26px 150px;
    font-family: BPGMrgvlovani;
    font-size: 30px;
    text-align: left;
    color: black;
    opacity: 1;
    position: absolute;
}

.GooglePlay{
    position: absolute;
    width: 400px;
    height: 250px; 
    margin: -250px 54px 26px 150px; 
}

.MobileApp{
    width: 900px;
    height: 580px;
    position: absolute;
    display: inline-block;
    margin: -500px 54px 26px 700px;
}

.footer{
    width: 100%;
    height: 401px;
    margin: 108px 0 0 0px;
    background-color: #971d62;
    position: relative;
  }

  .footerLogo{
    width: 250px;
    height: 250px;
    position: absolute;
    margin: -450px 0px 200px 100px;
    }

.facebook{
    width: 41.7px;
    height: 41.7px;
    position: absolute;
    margin: -250px 0px 100px 100px;
    }

.twitter{
    width: 41.7px;
    height: 41.7px;
    position: absolute;
    margin: -250px 0px 0px 175px;
    }  
    
.youtube{
    width: 41.7px;
    height: 41.7px;
    position: absolute;
    margin: -250px 0px 0px 250px;
    } 

.instagram{
    width: 41.7px;
    height: 41.7px;
    position: absolute;
    margin: -250px 0px 0px 325px;
    } 

.aboutus{
   font-family: BPGWEB001Caps;
   font-size: 25px;
   color:white;
   position: absolute;
   margin: -350px 0px 0px 450px;
}

.rules{
    font-family: BPGWEB001Caps;
    font-size: 25px;
    color:white;
    position: absolute;
    margin: -350px 0px 0px 750px;
 }

 .terabank{
    font-family: BPGWEB001Caps;
    font-size: 27px;
    color:white;
    position: absolute;
    margin: -350px 0px 0px 1150px;
 }

 .aboutus1{
    font-family: BPGMrgvlovani;
    font-size: 20px;
    width: 255px;
    height: 90px;
    color:white;
    position: absolute;
    line-height: 1.06;
    margin: -280px 0px 0px 450px;
 }
 
 .rules1{
    font-family: BPGMrgvlovani;
    font-size: 20px;
    width: 350px;
    height: 90px;
    color:white;
    position: absolute;
    line-height: 1.06;
    margin: -280px 0px 0px 750px;
 }

 .terabank1{
    font-family: BPGMrgvlovani;
    font-size: 20px;
    width: 350px;
    height: 90px;
    color:white;
    position: absolute;
    line-height: 1.06;
    margin: -280px 0px 0px 1150px;
 }