.links2{
   height: 400px;
}

.Mastercard{
    width: 700px;
    height: 400px;
    margin: 28px 16px 60px 120px;
    border-radius: 20px;
    flex-basis: 50%;
    display: flex;
}

.Mastercard2{
    font-family: BPGMrgvlovani;
    font-size: 25px;
    line-height: 1.36;
    text-align: left;
    color: #2c2c2c;
    display: inline;
    text-align: left;
    font-size: 18px;
    display: flex;
    float:left;
}

.Visaclassic{
    width: 700px;
    height: 400px;
    margin: 28px 16px 60px 120px;
    border-radius: 20px;
    flex-basis: 50%;
    display: flex;
}

.Gold{
    width: 700px;
    height: 400px;
    margin: 28px 16px 60px 120px;
    border-radius: 20px;
    flex-basis: 50%;
    display: flex;
    float:left;
}

.platinum{
        width: 1600px;
        height: 200px;
        margin: 43px 120px 73px 120px;
        font-family: BPGMrgvlovani;
        font-size: 20px;
        line-height: 2.4;
        text-align: left;
}