.links2{
   height: 400px;
}

.Mastercard{
    width: 700px;
    height: 400px;
    margin: 28px 16px 60px 120px;
    border-radius: 20px;
    flex-basis: 50%;
    display: flex;
}

.Mastercard2{
    font-family: BPGMrgvlovani;
    font-size: 25px;
    line-height: 1.36;
    text-align: left;
    color: #2c2c2c;
    display: inline;
    text-align: left;
    font-size: 18px;
    display: flex;
    float:left;
}

.Visaclassic{
    width: 700px;
    height: 400px;
    margin: 28px 16px 60px 120px;
    border-radius: 20px;
    flex-basis: 50%;
    display: flex;
}

.Gold{
    width: 700px;
    height: 400px;
    margin: 28px 16px 60px 120px;
    border-radius: 20px;
    flex-basis: 50%;
    display: flex;
    float:left;
}

.platinum{
        width: 900px;
        height: 200px;
        font-family: BPGMrgvlovani;
        font-size: 20px;
        line-height: 2.4;
        text-align: left;
        margin: 0px 0px 0px 120px;
}

.platinum2{
    width: 1400px;
    height: 300px;
    margin: 28px 16px 60px 120px;
    font-family: BPGMrgvlovani;
    font-size: 20px;
    line-height: 2.4;
    text-align: left;
}

.dd{
    display: flex;
    float: left;
    margin-bottom: 70px;
}

.title22 {
    margin: 51px 74px 29px 140px;
    font-family: BPGWEB001Caps;
    font-size: 48px;
    text-align: right;
    color: #2c2c2c;
    text-decoration: none;
}