.text{
    margin: 0vw 1vw 2vw 2vw;
    text-align: center;
    font-family: BPGMrgvlovani;
    font-size: 1.7vw;
    color: #971d62;
}

.text1{
    width: 90%;
    height: 24vw;
    margin: 2vw 6vw 2vw;
    font-family: BPGMrgvlovani;
    font-size: 1.7vw;
    line-height: 2.5vw;
    text-align: left;
    color: #2c2c2c;
}

.text2{
    width: 90;
    height: 60vw;
    margin: 2vw 6vw 2vw;  
    padding-top: 0.1vw;
    background-color: RGBA(213,213,213,0.51);
    font-size: 1.4vw;
    line-height: 1.36vw;
    text-align: left;
    color: #2c2c2c;
}

.text3{
    color: #2c2c2c;
    margin: 3vw 8vw 1vw 3vw;
}

.text4{
    color: #2c2c2c;
    margin: 2vw 8vw 1vw 2vw;
}

.operatori{
    margin: 2vw 2vw 3vw 11vw;
    border-radius: 5px;
    padding: 1.3vw;
    background-color: #971d62;
    width: 13vw;
    height: 4vw;
    font-family: BPGMrgvlovani;
    font-size: 1.2vw;
    text-align: center;
    color: white;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.links{
    height: 13vw;
}

.images{
    margin: 1vw 5vw 3vw 12vw;
    border-radius: 5px;
    width: 12vw;
    height: 12vw;
    text-align: center;
    color: white;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
}
