.turebi{
  font-family: BPGMrgvlovani;
  font-size: 1.7vw;
  text-align: center;
}

.turebi2{
  font-family: BPGMrgvlovani;
  font-size: 1.2vw;
  text-align: center;
  color: #77be39;
}

.turebi3{
  font-family: BPGMrgvlovani;
  font-size: 1.3vw;
  line-height: 2.5vw;
  margin: 2vw 1vw 0vw 6vw;
}